# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw Video & Archive Folders
all in/
Tunisia as a Country*
الأيام و الديام/
raw_assets_backup/
public/testimonials/
public/tunisia-videos/
public/videos/outro-video.mp4

.vercel
